h1{
    color:chocolate;   
   }
   b{
       color: crimson;
   }
   i{
       color: rgb(255, 217, 0);
   }
   strong{
       color: hotpink;
   }
   .a1{background-color: hotpink;}
   .e1{color: green;}
   
      #f1{color: rgb(128, 0, 0);}
.s2{background-color: orangered;}
i{
color: rgb(128, 0, 0);
h2{
    color: red; background-color:yello;
}